:root {
  color-scheme: light dark;
}


body { color: rgb(192, 192, 192); 
        background-color: rgb(0, 0, 0);
 }

.pixel0 {
  color: #eeeeee;
  background-color: #000022;
  height: 30px;
}

.pixel1 {
  color: #ffffff;
  background-color: #0000aa;
  height: 30px;
}

.pixel2 {
  color: #ffffff;
  background-color: #0022ff;
  height: 30px;
}

.pixel3 {
  color: #ffffff;
  background-color: #0088ff;
  height: 30px;
}

.res-buttons {
  padding: 10px;

}

td {
  border: 1px solid gray;
  min-width:  30px;
  height: 30px;
  padding: 0px;
}

.center {
  text-align: center;
  vertical-align: center;
  
}

ul {
  border: 1px solid gray;
}
li {
  border: 1px solid gray;
}

pre {
  border: 1px solid gray;
}
